src/main/resources/OrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OrderService" targetNamespace="urn:org.apodhrad.example:devconf2014:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:org.apodhrad.example:devconf2014:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:org.apodhrad.example:devconf2014:1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:org.apodhrad.example:devconf2014:1.0">
  <xs:element name="order" type="tns:order"/>
  <xs:element name="orderAck" type="tns:orderAck"/>
  <xs:complexType name="order">
    <xs:sequence>
      <xs:element minOccurs="0" name="itemId" type="xs:string"/>
      <xs:element name="quantity" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderAck">
    <xs:sequence>
      <xs:element name="prize" type="xs:double"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="submitOrder" type="tns:submitOrder"/>
  <xs:complexType name="submitOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="order" type="tns:order"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="submitOrderResponse" type="tns:submitOrderResponse"/>
  <xs:complexType name="submitOrderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderAck" type="tns:orderAck"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="submitOrderResponse">
    <wsdl:part name="parameters" element="tns:submitOrderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitOrder">
    <wsdl:part name="parameters" element="tns:submitOrder">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrderServicePortType">
    <wsdl:operation name="submitOrder">
      <wsdl:input name="submitOrder" message="tns:submitOrder">
    </wsdl:input>
      <wsdl:output name="submitOrderResponse" message="tns:submitOrderResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderServiceSoapBinding" type="tns:OrderServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="submitOrder">
      <soap:operation soapAction="submitOrder" style="document"/>
      <wsdl:input name="submitOrder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="OrderServicePort" binding="tns:OrderServiceSoapBinding">
      <soap:address location="http://localhost:8080/devconf2014/OrderService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
